.button-black{
    background-color: var(--secondary-300);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: var(--white);
    cursor: pointer;
    font-weight: 500;
    padding: .5rem 1rem;
}

.button-black:hover{
    background-color: var(--black);
    transition: background-color .5s ease;
}

.button-red{
    background-color: var(--primary-300);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: var(--white);
    cursor: pointer;
    font-weight: 500;
    padding: .5rem 1rem;
}

.button-red:hover{
    background-color: var(--primary-500);
    transition: background-color .5s ease;
}
