:root{
    --white:#FFFFFF;
    --black:#000000;
    --gray-100:#F2F2F2;
    --gray-200:#D3D3D3;
    --gray-400:#303036;
    --secondary-300:#757575;
    --primary-100:#FEEBF1;
    --primary-300:#F490B1;
    --primary-400:#E76A94;
    --primary-500:#D44A78;
    --error:#FC0101;
}

body{
    background-color: var(--gray-100);
}