:root{
    --white:#FFFFFF;
    --black:#000000;
    --gray-100:#F2F2F2;
    --gray-200:#D3D3D3;
    --gray-300:#7A7A7A;
    --gray-400:#303036;
    --secondary-300:#757575;
    --primary-100:#FEEBF1;
    --primary-300:#F490B1;
    --primary-400:#E76A94;
    --primary-500:#D44A78;
    --error:#FC0101;
    /* Boards colors */
    --light-green:#90DBAF;
    --light-red:#F77474;
    --magic-blue:#60B5E5;
    --orange:#FFA759;
    --violet:#C499EC;
    --pink:#FABBD0;
    --green:#42D781;
    --gray:#BDBDBD;
    --light-blue:#9DE0F9;
}

.app{
    background-color: var(--gray-100);
}

.magic-blue{
    background-color: var(--magic-blue);
}

.light-green{
    background-color: var(--light-green);
}

.light-red{
    background-color: var(--light-red);
}

.orange{
    background-color: var(--orange);
}

.violet{
    background-color: var(--violet);
}

.pink{
    background-color: var(--pink);
}

.green{
    background-color: var(--green);
}

.gray{
    background-color: var(--gray);
}

.light-blue{
    background-color: var(--light-blue);
}