@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --font-logo: "Roboto", sans-serif;
  --font-titles: "Montserrat", sans-serif;
  --font-body: " 'Inter', sans-serif;";
}

body {
  font-family: var(--font-body);
}

.logo {
  color: var(--gray-400);
  font-family: var(--font-logo);
}

.title {
  color: var(--black);
  font-family: var(--font-titles);
}

.font-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-s {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-reg {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-lg {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.font-xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
