.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  max-width: 480px;
  width: 100%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
