.login-page{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
    gap:1rem;
}
